{% extends 'base.html.twig' %}

{% block title %}Create post{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                {{ form_errors(postForm) }}
                {{ form_start(postForm) }}

                {{ form_row(postForm.companyName) }}
                {{ form_row(postForm.companyEmail) }}
                {{ form_row(postForm.companyAddress) }}
                {{ form_row(postForm.contactPhoneNumber) }}
                {{ form_row(postForm.requirements) }}
                {{ form_row(postForm.title) }}
                {{ form_row(postForm.body) }}
                {{ form_row(postForm.posted_until) }}
{#                <div class="form-group">#}
{#                    <label for="post_form_posted_until" class="required">Expiration date</label>#}
{#                    <input type="date" class="form-control" id="post_form_posted_until" name="post_form[posted_until]" required="required" />#}
{#                </div>#}
                {{ form_row(postForm.submit) }}

                {{ form_end(postForm) }}
            </div>
        </div>
    </div>

{% endblock %}
